body {
	width: 960px;
	background-color:
	font

}

title {
	color: #4aaa5
	background-color: 4aaa5;
	
}

header {
	font: 'Georgia', Times, Times New Roman, serif;
}

section {

}
aside {
	width: 270px
}

footer {
	color: #ccccc;
}

